<a href="https://colab.research.google.com/github/sp1667/Suryaprakashchary_INFO5502_SPRING2022/blob/main/lab_assignment_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first Lab-assignment (01/25/2022, 50 points in total)**

(1) Write a Python program to count the number of characters in a string. (5 points)

Sample String : 'google.com', 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [ ]:
def freq(str):
    dict = {}
    for n in str:
        keys = dict.keys()
        if n in keys:
            dict[n] += 1
        else:
            dict[n] = 1
    return dict
print(freq('google.com'))

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(2) Write a Python program to sum all the items in a list. (5 points)

In [ ]:
Sum = 0
Values = [11,12,13,14,15]
l = len(Values)
for ele in range(0, l):
    Sum = Sum + Values[ele]
print("Sum of all elements in given list: {0} ".format(Sum))

Sum of all elements in given list: 65

(3) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (5 points)

Sample String : 'restart', 

Expected Result : 'resta\$t'

In [ ]:
Sample_String = str(input("Enter a string : "))
Expected_Result = Sample_String[0]
for char in Sample_String[1:]:
    if char == Sample_String[0]:
        Expected_Result+="$"
    else:
        Expected_Result+=char

print("New Output is : {0}".format(Expected_Result))

Enter a string : restart
New Output is : resta$t

(4) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (5 points)

In [ ]:
a = int(input("Enter a value : "))
b = int(input("Enter b value : "))
x = 1 + a/b
S = 3.14 * (x)**3
print("Res : {0}".format(S))

Enter a value : 1
Enter b value : 1
Res : 25.12

(5) Write a Python program to concatenate following dictionaries to create a new one. (5 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
final_d = {} 
for d in (dic1, dic2, dic3):
  final_d. update (d)

print(final_d)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(6) Write a Python program to check whether an element exists within a tuple. (5 points)

In [ ]:
tup = (5,8,9,6,7)
num = int(input("Enter the numbr to search : "))
res = num in tup
print("Does the tuple have",num,"?",res)

Enter the numbr to search : 1
Does the tuple contains 1 ? False

(7) Write a Python program to find maximum and the minimum value in a set. (5 points)

In [ ]:
se = (5,8,9,6,7)
max = max(se)
min = min(se)
print("The maximum value of the set is",max,"and minimum is",min)

The maximum value of the set is 9 and minimum is 5

(8) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (5 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [ ]:
import random

student_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386', 'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']
Project_group = []
numofstud_group = len(student_list)//6
for i in range(6):
  new_list = []
  for j in range(numofstud_group):
    if(bool(student_list)):
      randonValue_array = random.choice(student_list)
      student_list.remove(randonValue_array)
      new_list.append(randonValue_array)
  Project_group.append(new_list)
print(Project_group)

[['gn0108', 'kg0470', 'ja0964', 'bg0320', 'ms1500'], ['sk1390', 'kg0569', 'vb0218', 'hy0232', 'nm0618'], ['sm1907', 'nv0234', 'sk1313', 'jl1252', 'fh0141'], ['pr0353', 'sg1297', 'ak0956', 'aos0040', 'sk1458'], ['ds0814', 'sm1640', 'ak0934', 'sb1357', 'sa1198'], ['dr0609', 'av0659', 'vm0377', 'sc1229', 'sk1386']]

(9) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (5 points)

In [ ]:
def dup1(nums):
    num_set = set()
    no_duplicate = -1
    l = len(nums)
    for i in range(l):
        if nums[i] in num_set:
            return nums[i]
        else:
            num_set.add(nums[i])
    return no_duplicate
print(dup1([1, 2, 3, 6, 4, 5]))

-1

(10) Write a Python program to select all the Sundays of a specified year. (5 extra points)

In [ ]:
from datetime import date, timedelta
year = int(input("Enter year : "))
def all_sundays(year):
       dt = date(year, 1, 1)       
       dt += timedelta(days = 6 - dt.weekday())  
       while dt.year == year:
          yield dt
          dt += timedelta(days = 7)
          
for s in all_sundays(year):
   print(s)

Enter year : 2022
2022-01-02
2022-01-09
2022-01-16
2022-01-23
2022-01-30
2022-02-06
2022-02-13
2022-02-20
2022-02-27
2022-03-06
2022-03-13
2022-03-20
2022-03-27
2022-04-03
2022-04-10
2022-04-17
2022-04-24
2022-05-01
2022-05-08
2022-05-15
2022-05-22
2022-05-29
2022-06-05
2022-06-12
2022-06-19
2022-06-26
2022-07-03
2022-07-10
2022-07-17
2022-07-24
2022-07-31
2022-08-07
2022-08-14
2022-08-21
2022-08-28
2022-09-04
2022-09-11
2022-09-18
2022-09-25
2022-10-02
2022-10-09
2022-10-16
2022-10-23
2022-10-30
2022-11-06
2022-11-13
2022-11-20
2022-11-27
2022-12-04
2022-12-11
2022-12-18
2022-12-25